<div id="course_home">
	<div class="memberPart">
	    <table class="table table-borderless" style="height: 40px;">
	      <tr>
	        <td style="padding-left:0;">
	          <span class="partTitle fbold">课程列表</span> 
	        </td>
	      </tr>
	    </table>
		<table class="table table-borderless m-b-none course-list-view">
			<tbody>
				<% @courses.each do |course| %>
					<tr class="list-item" data-id="<%= course[:id] %>" data-url="<%= course_detail_path course.slug %>">
					  <td class="td1">
	                    <%= cl_image_tag course.cover_image_id, :width => 160, :crop => "scale", class: "logo" %>
					  </td>
					  <td class="td2">
						<div class="font-extra-bold fs-14"><%= course.title %></div>
						<div class="course-desc mbottom10 fs-12 cgrey">
							<%= course.introduction %>
						</div>
						<div class="course-num-wrapper clearfix">
							<span class="course-num fs-11 cgrey pright3">
								已更新<%= course.issue_count %>期
							</span> 
							<!-- <span class="course-subscriber fs-11 cgrey columnBorderLeft">
								<%= course.subscriber_count %>人开通
							</span> -->
						    <% if !course.course_id %>
								<span class="course-price fs-11 cred ptop5">
									￥<%= course.base_price.ceil %>
								</span>
						    <% end %>	
							
						</div>
					  </td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div style="height: 40px;">
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
  
  $(".list-item").off("click").click(function () {
     var url = $(this).data("url");
     
     self.location.href = url;
  });
  
});
</script>